p {
    font-size: 100%;
}

body {
    background: url("../images/background.jpg");
    background-color: #F5F5DC;
}

#central {
    width: 500px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#welcomeText {
    font-size: 35px;
    font-family: sans-serif;
    font-style: normal;
    color: black;
}
