<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{change.password.title}"></title>
</head>
<body>
<h3 th:text="#{change.password.title}">Change password</h3>
<p th:if="${loginError}" th:text="#{wrong.credentials}">Wrong user or password</p>
<p th:if="${changeSuccessful}" th:text="#{change.password.successful}">You have successfully changed password.</p>
<form th:action="@{/web/change-password}" method="post">
    <label for="j_username" th:text = "#{username}">Username</label>:
    <input type="text" id="j_username" name="j_username" /> <br />
    <label for="j_password" th:text = "#{password}">Password</label>:
    <input type="password" id="j_password" name="j_password" /> <br />
    <label for="new_password" th:text = "#{new.password}">New password</label>:
    <input type="password" id="new_password" name="new_password" /> <br />
    <label for="new_password_confirm" th:text = "#{new.password.confirm}">Confirm new password</label>:
    <input type="password" id="new_password_confirm" name="new_password_confirm" /> <br />

    <input type="submit" th:value="#{change.password}" />
</form>
</body>
</html>