<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Make detailed order</title>
    <link href="../../resources/css/background.css"
          th:href="@{/css/background.css}" rel="stylesheet"/>
</head>
<body>
<p th:text="#{logged.in.as} + ' ' + ${#httpSession.getAttribute('customer').user.username}"/>

<p th:if="${orderUnsuccessful}" th:text="#{order.unsuccessful}">Could not create order.</p>

<form action="#" th:action="@{/web/order/detailed-order}" method="post">
    <table border="0" cellpadding="1" cellspacing="10">
        <tbody>
        <tr>
            <td th:text="#{from.place}">From:</td>
            <td><input type="text" th:field="${order.fromPlace}"/></td>
        </tr>
        <tr>
            <td th:text="#{to.place}">To:</td>
            <td><input type="text" th:field="${order.toPlace}"/></td>
        </tr>
        <tr>
            <td th:text="#{car.brand}">Car brand:</td>
            <td>
                <select th:name="brand">
                    <option th:each="brand : ${allBrands}"
                            th:value="${brand}"
                            th:text="${brand}">Brand
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{car.model}">Car model:</td>
            <td><select th:name="model">
                <option th:each="model : ${allModels}"
                        th:value="${model}"
                        th:text="${model}">Model
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{price.from}">Price from:</td>
            <td><input type="number" th:name="pricePerKmLow"/></td>
        </tr>
        <tr>
            <td th:text="#{price.to}">Price to:</td>
            <td><input type="number" th:name="pricePerKmHigh"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input name="MakeOrder" type="submit" th:value="#{make.order}"/></td>
        </tr>
        </tbody>
    </table>
</form>
<p th:text="#{available.cars}">Available cars</p>
<table border="1" cellpadding="1" cellspacing="1" style="width: 100%;">
    <tbody>
    <tr>
        <th th:text="#{registrational.number}">Reg Number</th>
        <th th:text="#{brand}">Brand</th>
        <th th:text="#{model}">Model</th>
        <th th:text="#{price.per.km}">Price</th>
    </tr>
    <tr th:each="taxi : ${freeTaxis}">
        <td th:text="${taxi.car.registrationalNumber}">N/A</td>
        <td th:text="${taxi.car.brand}">N/A</td>
        <td th:text="${taxi.car.model}">N/A</td>
        <td th:text="${taxi.car.pricePerKm}">N/A</td>
    </tr>
    </tbody>
</table>
<a th:href="@{/web/main-customer}"
   href="//web/main-customer" th:text="#{go.to.main.menu}">Go to main menu</a>

</body>
</html>