<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:text="#{logged.in.as} + ' ' + ${#httpSession.getAttribute('customer').user.username}"/>

<p th:if="${orderSuccessful}" th:text="#{order.successful}">Order created.</p>

<p th:if="${orderUnsuccessful}" th:text="#{order.unsuccessful}">Could not create order.</p>

<table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%">
    <tbody>
    <tr>
        <td>
            <table align="left" border="0" cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                    <td>Current order</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td th:text="${#httpSession.getAttribute('customer').currentOrder} ? ${#httpSession.getAttribute('customer').currentOrder.fromPlace}"></td>
                </tr>
                <tr>
                    <td>To</td>
                    <td th:text="${#httpSession.getAttribute('customer').currentOrder} ? ${#httpSession.getAttribute('customer').currentOrder.toPlace}"></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Taxis phone</td>
                    <td th:text="${#httpSession.getAttribute('customer').currentOrder}
                                 ? (${#httpSession.getAttribute('customer').currentOrder.taxist}
                                 ? ${#httpSession.getAttribute('customer').currentOrder.taxist.user.mobile})"></td>
                </tr>
                <tr>
                    <td><a href="//web/order/cancel-order"
                           th:href="@{/web/order/cancel-order}" th:text="#{cancel.order}">Cancel order</a></td>
                </tr>
                <tr>

                    <td><a href="customerOrders.html"
                           th:href="@{/web/order/history}" th:text="#{view.history}">View history</a>
                    </td>
                </tr>
                <tr>
                    <td><a href="login.html"
                           th:href="@{/j_spring_security_logout}" th:text="#{logout}">Logout</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td>
            <form action="#" th:action="@{/web/order/make-order}" th:object="${order}" method="post">
                <table border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                        <td th:text="#{from.place}">From:</td>
                        <td><input type="text" th:field="*{fromPlace}"/></td>
                    </tr>
                    <tr>
                        <td th:text="#{to.place}">To:</td>
                        <td><input type="text" th:field="*{toPlace}"/></td>
                    </tr>
                    <tr>
                        <td><a href="detailedOrder.html"
                               th:href="@{/web/order/detailed-order}" th:text="#{detailed.order}">Detailed order</a>
                        </td>
                        <td><input name="MakeOrder" type="submit" th:value="#{make.order}"/></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>