<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<p th:text="#{logged.in.as} + ' ' + ${#httpSession.getAttribute('taxist').user.username}"/>

<p th:if="${carUpdated}" th:text="#{car.info.updated}">Updated car info.</p>

<p>
<table align="left" border="0" cellpadding="1" cellspacing="1">
    <tbody>
    <tr>
        <th th:text="#{current.order}">Current order</th>
    </tr>
    <tr>
        <td>From</td>
        <td th:text="${#httpSession.getAttribute('taxist').currentOrder} ? ${#httpSession.getAttribute('taxist').currentOrder.fromPlace}">
            N\A
        </td>
    </tr>
    <tr>
        <td>To</td>
        <td th:text="${#httpSession.getAttribute('taxist').currentOrder} ? ${#httpSession.getAttribute('taxist').currentOrder.toPlace}">
            N\A
        </td>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${#httpSession.getAttribute('taxist').currentOrder} ? #{${'order.status.' +  #httpSession.getAttribute('taxist').currentOrder.status}}">
            N\A
        </td>
    </tr>
    <tr>
        <td>Customer phone</td>
        <td th:text="${#httpSession.getAttribute('taxist').currentOrder}
                                 ? (${#httpSession.getAttribute('taxist').currentOrder.customer}
                                 ? ${#httpSession.getAttribute('taxist').currentOrder.customer.user.mobile})"></td>
    </tr>
    <tr>
        <td><a href="/web/order/on-place"
               th:href="@{/web/order/on-place}" th:text="#{on.place}">On place</a>
        </td>
        <td><a href="/web/order/finish"
               th:href="@{/web/order/finish}" th:text="#{finished}">Finished</a>
        </td>

    </tr>
    </tbody>
</table>
</p>
<table align="left" border="0" cellpadding="10" cellspacing="1" style="width: 100%">
    <tbody>
    <tr>
        <th th:text="#{date.created}">Date</th>
        <th th:text="#{from.place}">From</th>
        <th th:text="#{to.place}">To</th>
        <th th:text="#{mobile}">Mobile</th>
        <th th:text="#{total.price}">Price</th>
        <th th:text="#{take.order}">Take</th>
    </tr>
    <tr th:each="order : ${availableOrders}">
        <form action="#" th:action="@{${'/web/order/take-order/' + order.orderId}}" method="get">
            <td th:text="${order.dateCreated}">N/A</td>
            <td th:text="${order.fromPlace}">N/A</td>
            <td th:text="${order.toPlace}">N/A</td>
            <td th:text="${order.customer.user.mobile}">N/A</td>
            <td><input type="number" th:name="price"/></td>
            <td><input type="submit" th:value="#{take.order}"/></td>
        </form>
    </tr>
    <tr>
        <td><a href="taxistHistory.html"
               th:href="@{/web/order/history-taxist}" th:text="#{view.history}">View history</a></td>
        <td><a href="logout.html"
               th:href="@{/j_spring_security_logout}" th:text="#{logout}">Logout</a>
        </td>
        <td><a href="changeCarInfo.html"
               th:href="@{/web/car/change-info}" th:text="#{change.car.info}">Change car info</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>