<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register.taxist}"></title>
</head>
<body>
<p th:if="${registrationUnsuccessful}" th:text="#{registration.unsuccessful}">Oops. Something went wrong.</p>
<p th:if="${wrongData}" th:text="#{incorrect.data}">Oops. Wrong data.</p>

<h3 th:text="#{register.taxist}">Register taxist</h3>


<form action="#" th:action="@{/web/taxist/register}" th:object="${taxist}" method="post">
    <table>
        <tr>
            <th th:text="#{username}">Username</th>
            <th><input type="text" th:field="*{user.username}"/></th>
        </tr>
        <tr>
            <th th:text="#{password}">Password</th>
            <th><input type="password" th:field="*{user.password}"/></th>
        </tr>
        <tr>
            <th th:text="#{confirm.password}">Confirm password</th>
            <th><input type="password" th:name="confirmPassword"/></th>
        </tr>
        <tr>
            <th th:text="#{mobile}">Mobile</th>
            <th><input type="text" th:field="*{user.mobile}"/></th>
        </tr>
        <tr>
            <th th:text="#{car.brand}">Car brand</th>
            <td><input type="text" th:field="*{car.brand}"/></td>
        </tr>
        <tr>
            <th th:text="#{car.model}">Car model</th>
            <td><input type="text" th:field="*{car.model}"/></td>
        </tr>
        <tr>
            <th th:text="#{car.year}">Year</th>
            <td><input type="text" th:field="*{car.year}"/></td>
        </tr>
        <tr>
            <th th:text="#{car.regnumber}">Reg number</th>
            <td><input type="text" th:field="*{car.registrationalNumber}"/></td>
        </tr>
        <tr>
            <th th:text="#{car.price.per.km}">Price per Km</th>
            <td><input type="text" th:field="*{car.pricePerKm}"/></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" th:value="#{register}"/></td>
        </tr>
    </table>
</form>
</body>
</html>