<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{welcome}">Welcome</title>
    <link href="../../resources/css/welcome.css"
          th:href="@{/css/welcome.css}" rel="stylesheet"/>
</head>

<body>
<div id="central">
    <div id="welcomeText" th:text="#{welcome}"> Welcome!</div>
    <div><a href="login.html"
            th:href="@{/web/main}" th:text="#{enter.site}">Enter site</a>
    </div>
</div>
</body>
</html>